body{
    color: #666666;
    font-family: Gotham-thin;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('./gotham/Gotham-Black.otf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('./gotham/Gotham-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('./gotham/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('./gotham/Gotham-Thin.otf') format('truetype');
}

.black{
    font-family: Gotham-BlackBook;
}
.bold{
    font-family: Gotham-Bold;
}
.book{
    font-family: Gotham-Book;
}
.thin{
    font-family: Gotham-Thin;
}

p {
    font-family: "Gotham-Thin", Verdana, Tahoma;
    color:#666666;
}

a, a:hover, a:active{
    color: #666666;
    text-decoration: none;
}

a:hover{
    color: DarkOrange;
}

.aheader{
    font-size: 1.2em;
}

.paddingLeft{
    padding-left: 30px;
}

.paddingRight{
    padding-right: 30px;
}

.headimg{
    background-image: url('./images/head.png');
    background-repeat:no-repeat;

}

.pre_sale{
    font-variant: small-caps;
    padding-top: 20%;
    font-size: 4.5em;
}

.sub_titel{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}

div.btn_yellow a:link, div.btn_yellow a:visited{
    font-weight: bold;
    width: 200px;
    font-family: Gotham-BlackBook;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 35px;
}

div.btn_yellow a:hover, div.btn_yellow a:active {
    background-color: DarkOrange;
    border-color: DarkOrange;
}

#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid white;
	border-right: 470px solid transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}

#triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 100px solid white;
	border-left: 470px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}


@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
