html {
    min-height:100%;
    position:relative;
}

body {
    color: #666666;
    font-family: Gotham-thin;
    height: 100%;
}

/*
 * set the font for the website
 */
@font-face {
    font-family: 'Gotham-Black';
    src: url('./gotham/Gotham-Black.otf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('./gotham/Gotham-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('./gotham/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('./gotham/Gotham-Thin.otf') format('truetype');
}

.black {
    font-family: Gotham-BlackBook;
}
.bold {
    font-family: Gotham-Bold;
}
.book {
    font-family: Gotham-Book;
}
.thin {
    font-family: Gotham-Thin;
}

/*
 * override some of the default bootstrap elements styles
 */
hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-width: 1px;
}

 h2 {
     color: DarkOrange;
     font-variant: small-caps;
     font-family: 'Gotham-Black';
     font-size: 2em;
 }

p {
    font-family: "Gotham-Thin", Verdana, Tahoma;
    color:#666666;
}

a, a:hover, a:active {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: DarkOrange;
}

/*
 * Set up the page
 */
.container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 962px;
    min-height: 100%;
    margin: 0 auto;
    z-index: -1;
    padding-bottom:100px;   /* Height of the footer */
}

.content {
    position: relative;
    margin-top: 20px;
    width: 962px;
    min-height: 100%;
    display: block;
}

/*
 * top menu
 */
 nav {
    width: 962px;
    height: 40px;
    margin: 0 auto;
 }
.aheader {
    font-size: 1.2em;
    padding: 0 30px;
}

/*
 * Set up the layout of the first big background picture in the landingspage
 */
 div.header_container {
     display: block;
     width: 962px;
     height: 576px;
     z-index: -1;
     background-image: url('./images/head.png');
     background-repeat:no-repeat;
 }

.round_P {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: -10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.round_P p {
    color: #666;
    font-size: 3.5em;
    font-family: Gotham-BlackBook;
    font-weight: bold;
    margin-top: 15%;
    text-align: center;
}

.pre_sale {
    font-variant: small-caps;
    padding-top: 85px;
    font-size: 4.5em;
}

.sub_titel {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}

ul.btn_yellow li {
     display: inline-block;
}

ul.btn_yellow a:link, ul.btn_yellow a:visited {
    font-weight: bold;
    width: 200px;
    font-family: Gotham-BlackBook;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 35px;
}

ul.btn_yellow a:hover, ul.btn_yellow a:active {
    background-color: DarkOrange;
    border-color: DarkOrange;
}

#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid white;
	border-right: 481px solid transparent;
    position: absolute;
    left: 0;
    top: 517px;
    z-index: 2px;
}

#triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 100px solid white;
	border-left: 481px solid transparent;
    position: absolute;
    right: 0;
    top: 517px;
}

/*
 * Set up layout for the three main buttons under the first big image in the landignspage
 */
div.mainbtn {
    position: relative;
    width: 860px;
    height: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    color: #666;
}

.btncard {
    float: left;
}

.mainbtn img {
    width: 200px;
    margin:10px;
}

/*
 * third part of the page: two columns, left a text and right a picute
 */
.about {
    height: 417px;
    padding-top: 100px;
    font-size: 0.7em;
    font-weight: bold;
    overflow: hidden;
}

.btn_invert a:link, .btn_invert a:visited {
    background-color: DarkOrange;
    border-color: DarkOrange;
    font-weight: bold;
    width: 200px;
    font-family: Gotham-BlackBook;
    font-size: 1.5em;
    border-radius: 10px;
    color: white;
}

.btn_invert a:hover, .btn_invert a:active {
    background-color: white;
    border-color: #666;
    color: #666;
}

/*
 * Break; a transparent break under the picture of the third part
 */
 .white_left {
    width: 545px;
}
.gradient_break {
   width: 430px;
   height: 60px;
   margin-right: -17px;
   background: linear-gradient(#999, white);
}

/*
 * Fourth part. A dark col on the left and a picture on the border-right
 */
 .dark {
    margin-top: 100px;
    background-color: #666;
    font-size: 0.8em;
 }

 .dark p {
    color: white;
 }


/*
 * fifth part: a yellow column with text and buttons and a grey column with text and buttons
 */
 .floating_titel {
    margin-top: 50px;
    text-align: center;
    font-size: 1em;
 }

.col_basic{
    margin: 10%;
    padding:30px;
    height: 500px;
    background: linear-gradient(to bottom,  DarkOrange 0%,DarkOrange 180px,#f6f6f6 180px,#f6f6f6 100%);
}

.col_grey {
    background: linear-gradient(to bottom,  #9c9e9f 0%,#9c9e9f 180px,#f6f6f6 180px,#f6f6f6 100%);
}

.round_btn_yellow_outer {
    position: absolute;
    top: 110px;
    left: 25%;
    width:70px;
    height:70px;
    border:70px solid transparent;
    border-top-color: Yellow;
    border-right-color: Yellow;
    border-radius:50%;
    transform:rotate(-45deg);
}

.round_btn_yellow_inner {
    position: absolute;
    top: 120px;
    left: 25%;
    width:60px;
    height:60px;
    margin-left: 10px;
    border:60px solid transparent;
    border-top-color:white;
    border-right-color:white;
    border-radius:50%;
    transform:rotate(-45deg);
}

.col_basic h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.col_basic p {
    margin-top: 250px;
    padding: 20px;
}

.col_basic div.prize {
    position: absolute;
    top:160px;
    left: 110px;
    margin-top:0;
    font-size: 1.5em;
    font-weight: bold;
}
/*
 * footer
 */
 footer {
    width: 100%;
    height: 100px;
    position: relative;
    padding-top: 30px;
 }



/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}


@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

@media (max-width: 480px) {
    .container {
    margin-left: 0;
    width: 100%;
    }
}
